[submodule "engine/diffuzz"]
	path = engine/diffuzz
	url = https://github.com/xhanulik/diffuzz.git
	branch = afl++
[submodule "engine/AFLplusplus"]
	path = engine/AFLplusplus
	url = https://github.com/xhanulik/AFLplusplus
	branch = wca
